:root {
    --color-white: #ffffff;
    --color-grey: #333333;
}

*, *:before, *:after { margin: 0; padding: 0; box-sizing: inherit;}


body {
    background-color: black;
    background-image: url(/public/images/riddle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p, li {
    color: #ffffff;
    font-size: clamp(17px, 4vw, 21px);
}

h1 { 
    color: #ffffff;
    font-size: clamp(41px, 4vw, 58px);
    font-weight: 800;
    text-align: center;
    padding: 40px;
}
.quiz-card, .quiz-result {
    background-color: black;
    color: #ffffff;
    border-radius: 13px;
    padding: 13px;
}

.quiz-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quiz-card ul li {
    padding: 10px;
}

.quiz-card ul li:hover {
    background-color: rgb(79, 249, 70);
}

footer a:link {
    background-color: black;
    color: white;
}

